@page
@model son.Net_web.Pages.index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/js/signalr/dist/brower/signalr.js"></script>
    <title> Son.Nette</title>
</head>
<body>
<div>
    
</div>
</body>
</html>