@page
@model son.Net_web.Pages.index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fr">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
    <title>Son.Nette</title>    
</head>
<body>
<audio id="myAudio">
  <source src="~/obj/door-bell.mp3" type="audio/mpeg">
</audio>

<nav class="navbar navbar-dark bg-primary">
    <div class="mx-auto order-0">
        <span class="navbar-brand mb-0 h1">Son.NET</span>
    </div>
</nav>

<div class="container">
    <div class="row">
        <img src="https://nsa40.casimages.com/img/2021/05/12/210512111644217907.jpg" alt="bell gif" class="mx-auto" id="bell-gif">
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                </tr>
                </thead>
                <tbody id="messagesList">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notification.js"></script>
<script>
      
</script>
</body>
</html>